h1 {color: IndianRed;}

span {color: SlateBlue ;}

span1 {color: lightGray;}

span2 {padding-left: 20px;}

body {font-family: 'Source Sans Pro', sans-serif;}

.class1 { color: IndianRed; font-weight: bold;}

li {font-size: 16px;}

p {font-size: 16px;}

icon {font-size: 16px;}